div#root, html, body {
  height: 100%;
}

html {
  background: #0F467C;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #363636;
}

button {
  cursor: pointer;
}
